.body {
background-color: black;
background-position:center;
}

.headers {
 color: antiquewhite;
 box-sizing: padding-box;
 border: 2px solid black;
 margin: 20px;
 width: 300px;
 text-align: center;
}

.header2 {
font-size: 78%;
 color: antiquewhite;
}


.para {
color: white;
}
