.body {
background-color: black;
}

.headers {
 color: antiquewhite;
 box-sizing: padding-box;
 border: 2px solid black;
 margin: 20px;
 width: 300px;
}

.header2 {
font-size: 35%;
}


.para {
color: white;
}
